<mat-card >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Transaction</mat-card-title>
    <mat-card-subtitle>Transaction Statement</mat-card-subtitle>
  </mat-card-header>
 <mat-card-content>
  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
  
    <ng-container matColumnDef="accountNumber">
      <mat-header-cell *matHeaderCellDef> Account Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.accountNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="balanceAmount">
      <mat-header-cell *matHeaderCellDef>Balance Amount</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.balanceAmount}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="transactionId">
      <mat-header-cell *matHeaderCellDef>Transaction Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.transactionId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="transactionAmount">
      <mat-header-cell *matHeaderCellDef>Transaction Amount</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.transactionAmount}} </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
    <mat-row *matRowDef="let row; columns: displayedColumns" 
         (click)="onRowClicked(row)">
    </mat-row>
    
</mat-table>

  </mat-card-content>
  
</mat-card>
